using System.ComponentModel.DataAnnotations;

namespace YourNamespace.Models
{
    public class {{ModelName}}
    {
        public int Id { get; set; }

        {{#attributes}}
            {{type}} {{name}}
        {{/attributes}}
    }
}

