package com.example.spring_ssr.repositories;

import com.example.spring_ssr.models.{{ModelName}};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ModelName}}Repository extends JpaRepository<{{ModelName}}, Long> {
    // You can add custom query methods here if needed
}